/**
 ██████╗ ██████╗ ███╗   ███╗███╗   ███╗ ██████╗ ███╗   ██╗
██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔═══██╗████╗  ██║
██║     ██║   ██║██╔████╔██║██╔████╔██║██║   ██║██╔██╗ ██║
██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██║   ██║██║╚██╗██║
╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║╚██████╔╝██║ ╚████║
 ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
 */
html {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 35px !important;
    color: #171039;
    padding-top: 1em;
    padding-bottom: 1em;
}

.analytic-header {
    /*background-color: #1b1953;*/
    color: #1b1953;
    padding: 17px 0;
    text-align: center;
}
.analytic-header h2 {
    font-size: 30px !important;
    color: #1b1953;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 0;
}
.analytics img {
    width: 100%;
}
.crowdfunding-link {
    margin-top: 1em;
    text-align: center;
}
.crowdfunding-link p {
    font-size: 18px;
}

.text-marine {
    color: #14133A;
}

.custom-container {
    width: 1200px;
    margin: 0 auto;
}

.grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.w-100 {
    width: 100%;
}

.pb-0 {
    padding-bottom: 0
}

.mb-0 {
    margin-bottom: 0 !important;
}

.bg-orange {
    background-color: rgb(229, 117, 32);
}

.bg-blue {
    background-color: #3B87F1;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?yuu2wf');
    src:  url('../fonts/icomoon.eot?yuu2wf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yuu2wf') format('truetype'),
    url('../fonts/icomoon.woff?yuu2wf') format('woff'),
    url('../fonts/icomoon.svg?yuu2wf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e900";
}
.icon-arrow-right:before {
    content: "\e901";
}
.icon-boat:before {
    content: "\e902";
}
.icon-cross:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-insta:before {
    content: "\e905";
}
.icon-paddle:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-zoomin:before {
    content: "\e908";
}

.mb-0 {
    margin-bottom: 0;
}

/** MENTIONS **/
.mentions-body {
    background-color: #3B87F1;
    color: white;
}

.mentions-logo {
    width: 450px;
    display: block;
    margin: 2em auto;
}
/** END MENTIONS **/

/**
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
**/
#mobileHeader {
    display: none;
}

#desktopHeader {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    /*background: rgba(0,0,0, 0.2);*/
    /*background: linear-gradient(273deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100%);*/
    padding: 20px;
    text-align: center;
}

#desktopHeader > a {
    width: fit-content;
    display: block;
    margin: 0 auto 15px auto;
}

#desktopHeader > a img {
    width: 350px;
    display: block;
    margin: 0 auto 35px auto;
}

#desktopHeader nav, .fixedHeader {
    color: white;
}

#desktopHeader nav a, .fixedHeader a {
    margin: 0 40px;
    font-size: 18px;
}

#desktopHeader nav a:hover, .fixedHeader a:hover {
    opacity: .8;
    border-bottom: 1px solid white;
}

.fixedHeader {
    opacity: 0;
    animation: ease-in 1s;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background: rgb(229, 117, 32);
    top: 0;
    padding: 1em 0;
    text-align: center;
    z-index: 1001;
}

.fixedHeader .social-media {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.fixedHeader .social-media a {
    margin: 0;
}

.fixedHeader .social-media a:hover i, .fixedHeader .social-media a:hover {
    border-bottom: unset;
    color: #3B87F1;
}

.social-media i {
    color: white;
    font-size: 22px;
    padding: 0 5px;
}

.arrow-up {
    position: fixed;
    right: 1em;
    bottom: 1em;
    opacity: 0;
    z-index: 100;
}

/**
██╗███╗   ██╗████████╗██████╗  ██████╗
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝
 **/
.carousel-item::after {
    content: '';
    background: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-caption {
    z-index: 1;
}

.carousel-caption h1 {
    color: white;
}


h1.logo {
    font-weight: 700;
}

h1.logo span {
    font-weight: 200;
}

#infos {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

#offers {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.offer {
    width: 20%;
}

.offer img {
    display: block;
    margin: 0 auto;
}

.darkblue-overlay {
    background-color: rgba(0,0,82,0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#patrick, #contact {
    position: relative;
    background-color: #3B87F1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2em;
    padding: 3em;
}

#patrick {
    background-image: url("../img/hd_ocean_bg.jpg");
}

#patrick img {
    height: 250px;
}

#patrick .custom-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#patrick p {
    margin-bottom: 4px;
}

/** CURRENT TRIP **/
.nav-container {
    width: 80vw;
    margin: 0 auto;
}
#currentVoyage {
    margin-top: 3em;
}
#currentVoyage h1 {
    padding-bottom: 0;
}
.dashboard-wrapper {
    color: white;
    background: rgb(20,19,58);
    background: linear-gradient(0deg, rgba(20,19,58,1) 0%, rgba(38,36,119,1) 100%);
    overflow: hidden;
}
.news-btn {
    width: 100%;
    height: 100%;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
}

.voyage-header {
    display: flex;
}
.voyage-header .left-side {
    width: 20%;
    display: flex;
    align-items: center;
    border-right: 2px solid #15143f;
}
.voyage-header .right-side {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 1em;
    cursor: pointer;
}
.avatar.active, .avatar:hover {
    border: 2px solid white;
}

#voyage-content {
    display: flex;
}
.dynamic-section {
    padding: 27px;
    width: 41%;
    -webkit-box-shadow: inset 0px 15px 42px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 15px 42px -18px rgba(0,0,0,0.75);
    box-shadow: inset 0px 15px 42px -18px rgba(0,0,0,0.75);
    overflow-x: hidden;
    height: 60vh;
    position: relative;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #282679 #161543;
}

.rower-info, .newsletter {
    width: 88%;
    height: 400px;
    transition: .5s ease-in-out;
    position: absolute;
}
.rower-info.active, .newsletter.active {
    transform: translateX(0);
    opacity: 1;
}
.slide-left {
    transform: translateX(-150%);
    opacity: 0;
}
.slide-right {
    transform: translateX(150%);
    opacity: 0;
}

.resume-item {
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-left: 2px solid white;
    position: relative;
}
.resume-item:last-of-type {
    padding-bottom: 0;
    margin-bottom: 2rem;
}
.resume-item::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 5rem;
    left: -7px;
    top: 7px;
    background: #201e64;
    border: 2px solid white;
}
.news-img {
    border-radius: 10px;
    margin-top: 1em;
    max-width: 100%;
    -webkit-box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
}
.leaflet-popup-content {
    text-align: center;
}
.dynamic-section h2 {
    font-size: 20px;
    margin-bottom: .5em;
    font-style: oblique;
    color: rgb(229, 117, 32);
}
.dynamic-section p {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.rower-header {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.rower-header figure img {
    width: 110px;
    height: 110px;
    object-fit: cover;
}
.rower-header figure img {
    border-radius: 50%;
}
.rower-header > div {
    width: fit-content;
    margin-left: 1em;
}
.rower-header h2 {
    font-size: 25px;
    font-style: unset;
}
.rower-header .subtitle {
    font-size: 16px;
}

#map {
    width: 59%;
}

/** INCOMING **/
#incoming {
    padding-bottom: 2em;
}

#incoming .card {
    background-color: #f6f8fc;
    border-radius: 1.5em;
    display: flex;
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
}

#incoming .card-infos {
    padding: 2em;
    width: 70%;
}

#incoming figure {
    width: 30%;
}

#incoming .card-infos h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

#incoming .card-infos small {
    font-weight: bold;
    color: #3b87f1;
}

#incoming .card-infos p {
    text-align: justify;
}

#incoming .pills {
    display: flex;
    align-items: center;
    margin: .5em 0 2em 0;
}

.pill {
    padding: 4px 15px;
    border-radius: 25px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#incoming .complete {
    margin-top: 2em;
    color: #e57520;
}

#incoming a {
    color: #3B87F1;
}
#incoming a:hover {
    color: #e57520;
    text-decoration: underline;
}

#incoming figure img {
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    height: 100%;
    object-fit: cover;
}


/** PARTENAIRES **/
#partners {
    background-color: #3B87F1;
    padding-bottom: 2em;
}

#partners h1 {
    padding-bottom: 0;
}

#partners .custom-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#partners figure {
    width: 20%;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partners figure img {
    width: 100px;
}

#partners figcaption {
    color: #14133A;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    padding-bottom: 1em;
    text-align: center;
}

#partners .hydro img, #partners .long-cours img {
    width: 170px;
}
.partners-btn {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.btn-and-partners {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.partners {
    position: relative;
    height: 280px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#partner-10 img {
    width: 100% !important;
}

.category-partner {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    opacity: 0;
    transition: .9s ease-in-out;
    position: absolute;
    width: 100%;
}

.category-partner.active {
    opacity: 1;
    transform: translateX(0);
}

.blue-btn {
    margin: 0 2em;
    border: 2px solid white;
    padding: 10px 20px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: .2s ease-in-out;
}

.blue-btn:hover, .blue-btn.active {
    color: #3B87F1;
    background-color: white;
}

/*** CONTACT ***/
#contact {
    background-image: url("../img/bg_sea.jpg");
    padding: 1em 0 2em 0;
    position: relative;
}

#contact .form-container {
    position: relative;
    margin: 0 auto;
    max-width: 750px;
}

#contact h1 {
    margin: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.form-group label {
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 10px;
}

.phone span {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}
label[for="phone"] span, #phone {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

form .w-33 {
    width: 31%;
}

form .w-50 {
    width: 48%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bevel-btn, .bevel-btn::after {
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(45deg, #f0f0f000 5%, #e57520 5%);
    border: 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 4;
    box-shadow: 6px 0px 0px #3B87F1;
    outline: transparent;
    padding: 5px 18px 5px 40px;
}

.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 19px;
    font-weight: bold;
    line-height: 45px;
    max-width: 160px;
    margin: 1em auto;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 2px;
    transition: all 280ms ease-in-out;
}

.btn:hover,
.btn:active, .btn.active {
    letter-spacing: 3px;
}

.btn:after,
.btn:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}

.btn.active:after, .btn.active:before {
    border-color: #fff;
    width: 70%;
}

.btn:hover:after,
.btn:hover:before {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    width: 70%;
}

.btn:hover:before {
    bottom: auto;
    top: 0;
}

.input-error {
    border: 2px solid darkred;
    border-radius: .5em;
}

#overlay img {
    width: 80%;
}

#map.map-mobile {
    display: none;
}

/***
██████╗ ███████╗███████╗██████╗  ██████╗ ███╗   ██╗███████╗██╗██╗   ██╗███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔═══██╗████╗  ██║██╔════╝██║██║   ██║██╔════╝
██████╔╝█████╗  ███████╗██████╔╝██║   ██║██╔██╗ ██║███████╗██║██║   ██║█████╗
██╔══██╗██╔══╝  ╚════██║██╔═══╝ ██║   ██║██║╚██╗██║╚════██║██║╚██╗ ██╔╝██╔══╝
██║  ██║███████╗███████║██║     ╚██████╔╝██║ ╚████║███████║██║ ╚████╔╝ ███████╗
╚═╝  ╚═╝╚══════╝╚══════╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝  ╚══════╝
 ***/
@media (max-width: 1200px) {

    .custom-container, .nav-container  {
        width: 90%;
    }
    .resume-item {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    #desktopHeader nav a, .fixedHeader a {
        margin: 0 20px;
        font-size: 18px;
    }
}

@media screen and (max-width: 820px) {

    .nav-container {
        width: 100%;
    }
    #map.map-desktop {
        display: none;
    }
    #map.map-mobile {
        display: block;
        width: 100%;
        height: 35vh;
    }
    .voyage-header .left-side {
        width: unset;
        border-right: none;
    }
    .voyage-header .right-side {
         width: 100%;
        -webkit-box-shadow: 0px -13px 39px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -13px 39px -10px rgba(0,0,0,0.75);
        box-shadow: 0px -13px 39px -10px rgba(0,0,0,0.75);
     }
    .voyage-header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .avatar {
        width: 70px;
        height: 70px;
    }
    .dynamic-section {
        width: 100%;
    }

    h1 {
        padding-bottom: .5em;
    }

    .carousel-caption h1 {
        padding-bottom: 0;
    }

    #incoming .card {
        flex-direction: column;
    }
    #incoming .card-infos {
        width: unset;
    }
    #incoming figure {
        width: 100%;
    }
    #incoming figure img {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1.5em;
        height: 350px;
        width: 100%;
    }

    #contact .form-container {
        max-width: 90%;
    }

    .md-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .gap-4 {
        gap: 0.5rem;
    }

    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1501;
        transform: scale(-0.5);
    }
    .menu-wrapper {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;
    }
    .menu-wrapper .line {
        background-color: #14133A;
        border-radius: 5px;
        width: 100%;
        height: 6px;
    }
    .menu-wrapper .line.half {
        width: 50%;
    }
    .menu-wrapper .line.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
    }
    .menu-wrapper .line.end {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
    }
    .menu-wrapper.open {
        transform: rotate(-45deg);
    }
    .menu-wrapper.open .line.start {
        transform: rotate(-90deg) translateX(3px);
    }
    .menu-wrapper.open .line.end {
        transform: rotate(-90deg) translateX(-3px);
    }

    #desktopHeader, .arrow-up, .fixedHeader {
        display: none;
    }

    #mobileHeader {
        display: block;
        background-color: #3b87f1;
        position: fixed;
        top: -100vh;
        left: 0;
        z-index: 1500;
        -webkit-box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
        box-shadow: 0px 14px 74px -19px rgba(0,0,0,0.75);
        transition: all 1s ease;
    }

    .openMenu {
        top: 0 !important;
    }

    .waves-container {
        position: relative;
        width: 100%;
        height: 100%;
        /*overflow: hidden;*/
        padding: 2em;
    }

    canvas {
        display: block;
        position: absolute;
        width: 105%;
        /*height: 100%;*/
        z-index: 1;
        right: 0;
        top: 65%;
        transform: rotate(180deg);
    }

    .waves-container .social-media {
        margin-left: -8px;
        margin-top: 18px;
    }

    .waves-container .social-media i {
        font-size: 26px;
    }

    .waves-container > a {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        position: relative;
        z-index: 10;
    }

    .waves-container > a img{
        width: 70%;
    }

    .waves-container nav {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
    }

    .waves-container nav a {
        color: white;
        margin: .4em 0;
        font-size: 22px;
        text-transform: uppercase;
        transition:all .5s ease;
        width: fit-content;
        padding: 5px;
    }

    #desktopHeader > a img {
        width: 240px;
    }

    #offers {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1em;
    }
    .offer {
        width: 33%;
    }

    #patrick .custom-container {
        flex-direction: column;
    }

    #patrick h5 {
        text-align: center;
    }

    #patrick div p {
        margin-bottom: 15px;
    }

    #partners figure {
        width: 33%;
    }
}

@media screen and (min-width:320px) and (max-width:830px) and (orientation:landscape) {

    #mobileHeader {
        top: -130vw;
    }

    .waves-container > a {
        justify-content: unset;
    }

    .waves-container > a img {
        width: 45%;
    }

    .waves-container nav a {
        margin: .2em 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {

    .avatar {
        width: 35px;
        height: 35px;
    }

    h1 {
        font-size: 27px !important;
    }

    .carousel-caption h1 {
        font-size: 25px !important;
    }

    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }

    .waves-container section a {
        font-size: 18px;
    }

    .offer {
        width: 100%;
        margin-bottom: 1.5em;
    }

    #infos {
        position: relative;
    }

    .bevel-btn {
        font-size: 13px;
        position: absolute;
        z-index: 1;
        width: 112%;
        right: -20px;
        bottom: -52px;
    }
    .crowdfunding-link .bevel-btn {
        position: initial;
    }

    #patrick {
        padding: 3em 1em;
    }

    #patrick div.pl-6 {
        padding-left: 0;
    }

    #patrick div p {
        text-align: justify;
    }

    #incoming .card {
        width: 100%;
    }

    #partners figure {
        width: 21%;
    }
    #partner-10 figure {
        width: 40%;
    }
    .partners {
        flex-wrap: wrap;
        height: 340px;
    }
    .blue-btn {
        margin: 10px 5px;
    }
    #partners figure img {
        width: 100% !important;
    }
    .category-partner {
        flex-wrap: wrap;
    }

    form .sm-w-100 {
        width: 100%;
    }

    #prevButton, #nextButton {
        position: absolute;
        transform: rotate(90deg);
    }
    #prevButton {
        top: 23vh;
    }
    #nextButton {
        bottom: 22vh;
    }
    .title-overlay {
        font-size: 19px;
    }
    #overlay img {
        width: 100%;
    }

}


/*** ANIMATION ***/
.fade-in {
    animation: fadeIn 1s;
    opacity: 1;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 1s;
    opacity: 0;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fast-fade-in {
    animation: fadeIn .2s;
    opacity: 1;
}
.fast-fade-out {
    animation: fadeOut .2s;
    opacity: 0;
}

.backdrop-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.backdrop-overlay:hover {
    opacity: 1;
}
.rower-header .icon-zoomin {
    font-size: 60%;
}

/* modal popup styles */
.image-modal-content {
    cursor: pointer;
    position: relative;
}
/*.image-modal-content:hover {*/
/*    */
/*}*/
.img-and-cross {
    position: relative;
}
.image-modal-popup {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    animation: 500ms fadeIn;
    display: none;
    z-index: 1500;
}

.image-modal-popup .wrapper {
    max-width: fit-content;
    margin: 30px auto 0 auto;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
}

.image-modal-popup .description {
    text-align: center;
}
.image-modal-popup img {
    width: 100%;
    max-height: calc(100vh - 150px);
    margin-bottom: 10px;
}
.image-modal-popup span {
    position: absolute;
    top: -25px;
    right: -47px;
    font-size: 4rem;
    color: #e57520;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .image-modal-popup span {
        top: -20px;
        right: 4px;
    }
}
